


header-section
header {background-color: #971a1a;}
.h-name-blue {color: #2196F3;}
.h-name-black {color:#212121}
.h-name-grey {color: #757575;}


<!--Effective-solutions-section-->
.dark {background-color: #2F303A;}
.text {color: #FFFFFF;}


<!--footer-section-->

.f-name-blue {color: #2196F3;}
.f-name-white {color: #fff;}
footer{ background-color:#2F303A ;}
